#header
{
    background-image: url(./Assets/gears.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #50491A;
    height: 30vh;
    padding: 0;
}

.transbox {
    margin: 30px;
    background-color: #8BB1B1;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    margin-top: 0;
  }
  
.transbox p {
    margin: 5%;
    font-weight: bold;
    font-size: 2em
  }